# exclude everything
data/*
images/*

# exception to the rule
!data/.gitkeep
!images/.gitkeep
!images/Deleeper Initial Screen.png
!images/Deleeper Opened Eyes.png
!images/Deleeper - Driver feeling Sleepy.png
